<!-- fragments/header.html -->
<header th:fragment="header">
    <style>
        .navbar {
            background: linear-gradient(to right, #E90074, #4C3BCF);
        }
        .navbar-brand, .nav-link {
            color: #ffffff !important;
        }
        .nav-link:hover {
            text-decoration: underline;
        }
    </style>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Playmix</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="filter: invert(1);"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/playlists}" href="#">Playlists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/musics}" href="#">Músicas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
